.container {
    display: flex;
    justify-content: space-between;
}

.text {
    padding-left: 20px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    letter-spacing: 2px;

    color: #FCFCFC;

}

