.container {
    width: 80%;
    
    margin: 45px auto 0 auto;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #F4F4ED;
    padding-bottom: 10px;
}

.email {
    margin-right: 174px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #9B94A3;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-right: 20px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
}



