.container {
    width: 33.3%;
}

.header {
    margin-top: 18px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    color: #30233D;
}

.text {
    margin-top: 18px;
    max-width: 362px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: normal;
    font-size: 16.2px;
    line-height: 26px;
    color: #776C82;
}