.container {
    height: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    max-width: 250px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: #FCFCFC;
}

.text {
    margin-left: 173px;
    max-width: 264px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FCFCFC;
}

