.container {
    width: 80%;
    height: 50px;
    margin: 0 147px 0 147px;
    padding-top: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContainer {
    display: flex;
    justify-content: space-between;
}