.container {
    margin-top: 18px;
    max-width: 754px;
}

.text {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    color: #30233D;
}
